	@import 'reset';
	@import 'standards';
	@import 'clock';

	$backgroundcolor: black;
	$foregroundcolor: white;
	$btnOpacity: .5;
	$btnOpacityBig: 1;

	#monitor{
		display: none;
	}

	#monitor {
		//background: white;
	}

	#header {
		width: 100%;
		height: 45px;
		line-height: 45px;
		background: #CD235C;
		padding: 0;
		color: #eee;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
	}

	#wrapper {
		position: absolute;
		z-index: 2;
		height: 140px;
		width: 560px;
		overflow: hidden;
		top:30px;
		left: 360px;
		padding-top: 30px;
		//background-color: red;
	}


	#scroller {
		position: absolute;
		z-index: 1;
		width: 1180px;
		height: 80px;

	}

	#scroller ul {
		list-style: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#scroller li {
		width: 80px;
		height: 80px;
		float: left;
		overflow: hidden;
		border-radius: 40px;
		margin-right: 20px;
	}

	#scroller li~li {
		margin-left: 20px;
	}

	li a {
		display: block;
		width: 100%;
		height: 100%

	}


	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten{
		-webkit-transition: all 500ms; 
		opacity: $btnOpacity;

		img {
			width: 100%;
			height: 100%;
		}

		&.big {
			-webkit-transition: all 500ms; 
			-webkit-transform: scale(1.5);
			opacity: $btnOpacityBig; 

		}
	}

	.contentwrapper{
		z-index:5000;
		background-color: red;

.question, .take-me-button{

		text-align: center;
	font-size: 50px;


}

}
