

.image_wrapper {
	//display: none;
	position: absolute;
	z-index: 1;
	height: 800px;
	width: 1280px;
	overflow: hidden;
	opacity: .1;
	transition: 3s ;
}


#image_scroller {
	position: absolute;
	width: 7680px;
	height: 100%;

}

#image_scroller ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#image_scroller li {
	float: left;

}

.content-wrapper{
	pointer-events:none;
	display:inline block;
		display: none;
		z-index: 2;
		position: fixed;
		top: 200px;
		left: 190px;
		width: 900px;


		p{
			margin-left: auto;
			margin-right: auto;
			text-align:center;
			font-size: 70px;
		}

		.location_btn{
			pointer-events:auto;
			display:block;
			font-family: "Gibson-light";
			margin-top:300px;
			margin-left:auto;
			margin-right:auto;
			font-size: 50px;
			width: 150px;
			padding: 8px 0 0 22px;
			height:70px;
			border: 2px solid white;

		}




	}




	.shaken-or-stirred{
		display: none;

		.center{
			margin-top: 100px;
			width: 400px;
			margin-left:auto;
			margin-right:auto;

		.shake_btn{
			float: left;
			width: 100px;
			margin-right: 100px;

			img{
				width: 100%;
			}

		}


		.stir_btn{
			float: right;
			height: 230px;

			img{
				height: 100%;
			}

		}

		}





	}

	





