<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<title>available</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/index.css">
	<link rel="stylesheet" href="stylesheets/search.css">

	<script src="javascript/lodash.js"></script>
	<script src="data/allDrinks.js"></script>
	<script src="javascript/addDrinkTags.js"></script>
	<script src="javascript/drinkFilter.js"></script>
	<script src="javascript/filterControl.js"></script>
	<script type="text/javascript" src="javascript/iscroll/iscroll.js"></script>
	<script type="text/javascript" src="javascript/iscroll/iscroll-probe.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="javascript/headerNav.js"></script>
	

	<script type="text/javascript">

	var myScroll;
	var position;

	function updatePosition () {
		position.innerHTML = this.x>>0;
	}

	function makeSmall(){
		$('.three').removeClass('big');
		$('.four').removeClass('big');
		$('.five').removeClass('big');
		$('.six').removeClass('big');
		$('.seven').removeClass('big');
		$('.eight').removeClass('big');
		$('.nine').removeClass('big');
		$('.ten').removeClass('big');
	}

	function printPosition () {
		if(position.innerHTML == 0){
			makeSmall();
			$('.three').addClass('big');
		}else if(position.innerHTML == -120){
			console.log('yeah');
			makeSmall();
			$('.four').addClass('big');
		} else if(position.innerHTML == -240){
			makeSmall();
			$('.five').addClass('big');
		}else if(position.innerHTML == -360){
			makeSmall();
			$('.six').addClass('big');
		}else if(position.innerHTML == -480){
			makeSmall();
			$('.seven').addClass('big');
		}else if(position.innerHTML == -600){
			makeSmall();
			$('.eight').addClass('big');
		}else if(position.innerHTML == -720){
			makeSmall();
			$('.nine').addClass('big');
		}else if(position.innerHTML == -840){
			makeSmall();
			$('.ten').addClass('big');
		}
	}


	function loaded () {
		position = document.getElementById('position');
		myScroll = new IScroll('#wrapper', {scrollX: true, scrollY: false, preventDefault: false, snap: 'li', probeType: 3, mouseWheel: true});
		myScroll.on('scrollEnd', updatePosition);
		myScroll.on('scrollEnd', printPosition);
	}

	$(window).on("load",function(){
		makeItRain();
		loaded();
		$('.drink-tag').hide();
		myLoop();  

	//clear filters
	$(".filter-controls").find(".header").find(".clear-filters").on('click',function(){

		$('.checkbox-container').find(':checked').each(function() {
			$(this).removeAttr('checked');
		});
		$(".drink-container").html("");
		clearFilters();
		makeItRain();
		$('.drink-tag').hide();	
			i = 0; 
		myLoop();
	})


	$(":checkbox").on('click', function(){
		var thisFilter = $(this).closest('form').attr("id");
		var thisFilterId = "#"+thisFilter;
		showProfileValues(thisFilter, thisFilterId);
		$(".drink-container").html("");
		makeItRain();

		$('.drink-tag').hide();
		i = 0; 
		myLoop();  
	});





		myScroll.scrollToElement(document.querySelector('#scroller li:nth-child(5)'), null, null, true) // nav to question walkthrough
		$('.three').addClass('big');

		$('.box').on('click', function(){
			console.log("clickeroo")
		})

		position = document.getElementById('position');

	});

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

</script>



</head>
<body>
	<!-- <div id="monitor">X position: <strong id="position">0</strong></div> -->
	<div id="monitor">X position: <strong id="position">0</strong></div>
	<div id="wrapper">
		<div id="scroller">
			<ul>
				<li class = 'one'><img src="images/library_menu_btn.svg"></li>
				<li class = 'two'><img src="images/search_menu_btn.svg"></li>
				<li class = 'three'><img src="images/available_menu_btn.svg"></li>
				<li class = 'four'><img src="images/lessons_menu_btn.svg"></li>
				<li class = 'five'><img src="images/shopping_menu_btn.svg"></li>
				<li class = 'six'><img src="images/library_menu_btn.svg"></li>
				<li class = 'seven'><img src="images/search_menu_btn.svg"></li>
				<li class = 'eight'><img src="images/available_menu_btn.svg"></li>
				<li class = 'nine'><img src="images/lessons_menu_btn.svg"></li>
				<li class = 'ten'><img src="images/shopping_menu_btn.svg"></li>

			</ul>
		</div>
	</div>

	<div class="results-menu">

		<!-- Drink Tags ************************************************************** -->

		<div class="results">
			<div class="header">
				<p>Results</p>
			</div>
			<div class="drink-container">
			</div>

		</div>

		<!-- Drink Tags ************************************************************** -->


		<!-- Filter Controls ********************************************************* -->


		<div class="filter-controls">
			<div class="header">
				<p>Filters</p>
				<div class = "clear-filters">
					<p>Clear Filters</p>
					<img src="images/close_btn.svg">
				</div>
			</div>
			<div class="form-container">

				<form id="available">
					<div class="radio-container">
						<input type="radio" id="radio1" name="available" value="Available" checked="checked">
						<label for="radio1">What's On Hand</label>
						<input type="radio" id="radio2" name="available" value="All">
						<label for="radio2">All Cocktails</label>
					</div>
				</form>

				<div class="secondary-header">
					<div class="title">Spirit</div>
				</div>

				<form id="spirit">
					<div class="checkbox-container">
						<input type="checkbox" id="absinthe" name="spirit" value="Absinthe">
						<label for="absinthe">Absinthe</label>
						<input type="checkbox" id="Bourbon" name="spirit" value="Bourbon">
						<label for="Bourbon">Bourbon</label>
						<input type="checkbox" id="Brandy" name="spirit" value="Brandy">
						<label for="Brandy">Brandy</label>
						<input type="checkbox" id="Gin" name="spirit" value="Gin">
						<label for="Gin">Gin</label>
						<input type="checkbox" id="Pisco" name="spirit" value="Pisco">
						<label for="Pisco">Pisco</label>
						<input type="checkbox" id="Rum" name="spirit" value="Rum">
						<label for="Rum">Rum</label>
						<input type="checkbox" id="Rye" name="spirit" value="Rye">
						<label for="Rye">Rye</label>
						<input type="checkbox" id="Scotch" name="spirit" value="Scotch">
						<label for="Scotch">Scotch</label>
						<input type="checkbox" id="Tequila" name="spirit" value="Tequila">
						<label for="Tequila">Tequila</label>
						<input type="checkbox" id="Vodka" name="spirit" value="Vodka">
						<label for="Vodka">Vodka</label>
					</div>
				</form>

				<div class="secondary-header">
					<div class="title">Flavor Profile</div>
				</div>

				<form id="profile">
					<div class="checkbox-container">
						<input type="checkbox" id="Bitter" name="Flavor" value="Bitter">
						<label for="Bitter">Bitter</label>
						<input type="checkbox" id="Bubbly" name="Flavor" value="Bubbly">
						<label for="Bubbly">Bubbly</label>
						<input type="checkbox" id="Creamy" name="Flavor" value="Creamy">
						<label for="Creamy">Creamy</label>
						<input type="checkbox" id="Fruity" name="Flavor" value="Fruity">
						<label for="Fruity">Fruity</label>
						<input type="checkbox" id="Savory" name="Flavor" value="Savory">
						<label for="Savory">Savory</label>
						<input type="checkbox" id="Sour" name="Flavor" value="Sour">
						<label for="Sour">Sour</label>
						<input type="checkbox" id="Spicy" name="Flavor" value="Spicy">
						<label for="Spicy">Spicy</label>
						<input type="checkbox" id="Sweet" name="Flavor" value="Sweet">
						<label for="Sweet">Sweet</label>
						<input type="checkbox" id="SpiritForward" name="Flavor" value="Spirit Forward">
						<label for="SpiritForward">Spirit Forward</label>
					</div>
				</form>

				<div class="icon-checkbox">

					<form id="glass">	
						<div class="glass-checkbox">
							<div class="glass-header">
								<div class="title">Glass Type</div>
							</div>
							<div id="collins-checkbox">
								<input type="checkbox" id="Collins" name="Glass" value="Collins">
								<label for="Collins"></label>
							</div>

							<div id="flute-checkbox">
								<input type="checkbox" id="Flute" name="Glass" value="Flute">
								<label for="Flute"><img src="images/flute_checkbox.svg"></label>
							</div>
							<div id="coupe-checkbox">
								<input type="checkbox" id="Coupe" name="Glass" value="Coupe">

								<label for="Coupe"><img src="images/coupe_checkbox.svg"></label>
							</div>
							<div id="rocks-checkbox">
								<input type="checkbox" id="Rocks" name="Glass" value="Rocks">
								<label for="Rocks"><img src="images/rocks_checkbox.svg"></label>
							</div>
						</div>
					</form>

					<form id="mixMethod">
						<div class="mix-checkbox">
							<div class="mix-header">
								<div class="title">Shaken or Stirred</div>
							</div>
							<input type="checkbox" id="Shaken" name="Mix" value="Shaken">
							<label for="Shaken"><img src="images/gifs/shake_line_small.gif"></label>
							<input type="checkbox" id="Stirred" name="Mix" value="Stirred">
							<label for="Stirred"><img src="images/gifs/stir_line_small.gif"></label>
						</div>
					</form>

				</div>
			<!-- Range Slider 
				<div class="tolerance-header">
					<div class="title">Recipe Tolerance</div>
				</div>

				<form>

					<input type="range" name="points" min="0" max="4" value="4" list="tolsettings">

				</form>
			-->
			</div>

		</div>
	</div>





	<!-- TEMPLATES -->
	<script id="resultsTemplate" type="template">
	<div class="drink-tag">
	<div class='glass-type'><img src='<%= glasstype %>'></div>
	<a href='<%= Recipe %>_recipe.html'>
	<div class='box'>
	<p class='name'><%= name %></p>
	<p class='base'>Base Spirit: <%= base %></p>
	<p class='profile'>Profile: <%= profile %></p>
	</div>
	</a>
	</div>
	</script>

	<!-- SCRIPT -->
	<script src="javascript/addDrinkTags.js"></script>



</body>
</html>