<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<title>index</title>

	<link rel="stylesheet" href="stylesheets/index.css">
	<link rel="stylesheet" href="stylesheets/selector.css">
	<link rel="stylesheet" href="stylesheets/search.css">


	<script src="javascript/lodash.js"></script>
	<script src="data/suggestionResults.js"></script>
	<script src="javascript/addDrinkTags.js"></script>
	<script src="javascript/drinkFilter.js"></script>
	<script src="javascript/filterControl.js"></script>
	<script type="text/javascript" src="javascript/iscroll/iscroll.js"></script>
	<script type="text/javascript" src="javascript/iscroll/iscroll-probe.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="javascript/headerNav.js"></script>

	<script type="text/javascript">


	$(window).on("load",function(){
		loaded();
		makeItSuggest();

		navScroll();
		$('img').on('dragstart', function(event) { event.preventDefault(); });

	myScroll.scrollToElement(document.querySelector('#scroller li:nth-child(5)'), null, null, true) // nav to question walkthrough

	

	$(".image_wrapper").css({opacity:1});

	//fade shit in
	setTimeout(
		function() 
		{
			$(".content-wrapper").fadeIn(1200);
		}, 1000);

	//go to next question
	$(".location_btn").on('click', function(){
		$(".location-question").fadeOut(1000);
		$(".shaken-or-stirred").fadeIn(1005);
		event.preventDefault();
	})
	//go to next question
	$('.shake_btn').on('click', function(){
		$('.stir_btn').css({opacity: 0});

	})
	//go to next question
	$('.stir_btn').on('click', function(){
		$('.shake_btn').css({opacity: 0});
		setTimeout(
			function() 
			{
				$(".shaken-or-stirred").fadeOut(1000);
				$(".strong-or-refreshing").fadeIn(1000);
			}, 800);

	})
	//go to next question
	$('.strong').on('click', function(){
		$(this).addClass('clicked');
		setTimeout(
			function() 
			{
				$(".strong-or-refreshing").fadeOut(1000);
				$(".sweet-or-bitter").fadeIn(1000);
			}, 600);
	})

			//go to next question
			$('.refreshing').on('click', function(){
				$(this).addClass('clicked');
			})

			//Show Drinks
			$('.bitter').on('click', function(){
				$(this).addClass('clicked');
				setTimeout(
					function() 
					{
						$(".sweet-or-bitter").fadeOut(1000);
						$(".suggestions").fadeIn(1000);
					}, 600);
				//makeItRain();
			})

			//go to next question
			$('.sweet').on('click', function(){
				$(this).addClass('clicked');

			})

			$(".something-else").on('click', function(){
					$(".drink-container").html("");
					makeItSuggest();

			})

			$(".start-over").on('click', function(){
				$('.sweet', '.bitter', '.refreshing', '.strong').removeClass('clicked');
				$('.suggestions').fadeOut(1000);
				$(".location-question").fadeIn(1000);
			})
		});

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

</script>



</head>
<body>
	<!-- <div id="monitor">X position: <strong id="position">0</strong></div> -->
	<div id="monitor">X position: <strong id="position">0</strong></div>



	<div id="wrapper">
		<div id="scroller">
			<ul>
				<li class = 'one'><img src="images/library_menu_btn.svg"></li>
				<li class = 'two'><img src="images/search_menu_btn.svg"></li>
				<li class = 'three'><a href="available.html"><img src="images/available_menu_btn.svg"></a></li>
				<li class = 'four'><img src="images/lessons_menu_btn.svg"></li>
				<li class = 'five'><img src="images/shopping_menu_btn.svg"></li>
				<li class = 'six'><img src="images/library_menu_btn.svg"></li>
				<li class = 'seven'><img src="images/discover_menu_btn.svg"></li>
				<li class = 'eight'><img src="images/available_menu_btn.svg"></li>
				<li class = 'nine'><img src="images/lessons_menu_btn.svg"></li>
				<li class = 'ten'><img src="images/shopping_menu_btn.svg"></li>
			</ul>
		</div>
	</div>

	<div class="location-question">
		<div class="content-wrapper">
			<p>Where do you want to be?</p>

			<div class="location_btn">Here</div>
		</div>

		<div class="image_wrapper">
			<div id="image_scroller">
				<ul>
					<li class = "test"><img src="images/large_images/BeachBar2.png"></li>
					<li><img src="images/large_images/KingCold.png"></li>
					<li><img src="images/large_images/Prohibition.png"></li>
					<li><img src="images/large_images/OakRoom.png"></li>
					<li><img src="images/large_images/BeachBar1.png"></li>
					<li><img src="images/large_images/NewYork.png"></li>
				</ul>
			</div>
		</div>

	</div>

	<div class="shaken-or-stirred">
		<div class="content-wrapper">
			<p>Shaken or Stirred?</p>
			<div class="center">
				<div class="shake_btn"><img src="images/gifs/shake_line.gif"></div>
				<div class="stir_btn"><img src="images/gifs/stir_line.gif"></div>
			</div>
		</div>
	</div>

	<div class="strong-or-refreshing">
		<div class="content-wrapper">
			<p>How would you like your Drink?</p>
			<div class="center">
				<div class="strong">Strong</div>
				<div class="refreshing">Refreshing</div>
			</div>
		</div>
	</div>

	<div class="sweet-or-bitter">
		<div class="content-wrapper">
			<p>How would you like your Drink?</p>
			<div class="center">
				<div class="bitter">Bitter</div>
				<div class="sweet">Sweet</div>
			</div>
		</div>
	</div>

	<div class="suggestions">
		<div class="content-wrapper">
			<p>How about one of these?</p>
			<div class="center">
				<div class='drink-container'>

				</div>
			</div>
			<div class="something-else">
				<p>Not Quite</p>
			</div>
			<div class="left-right-btns">
				<div class="start-over">
					<img src="images/left_arrows.svg">
					<h3>Start Over</h3>
				</div>
				<a href="search.html"><div class="more">
					<img src="images/right_arrows.svg">
					<h3>More Choices</h3>
				</div></a>
			</div>
		</div>






	</div>


	<!-- TEMPLATES -->
	<script id="resultsTemplate" type="template">
	<div class="drink-tag">
	<div class='glass-type'><img src='<%= glasstype %>'></div>
	<a href='<%= Recipe %>_recipe.html'>
	<div class='box'>
	<p class='name'><%= name %></p>
	<p class='base'>Base Spirit: <%= base %></p>
	<p class='profile'>Profile: <%= profile %></p>
	</div>
	</a>
	</div>
	</script>

	<!-- SCRIPT -->
	<script src="javascript/addDrinkTags.js"></script>


</body>
</html>