/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../sass/_standards.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/_standards.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 15, ../sass/_standards.scss */
body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 21, ../sass/_standards.scss */
body {
  color: white;
  font-family: "Gibson-SemiBold";
  background-color: black;
  width: 1280px;
  height: 800px;
  overflow: hidden;
}

/* line 31, ../sass/_standards.scss */
body {
  -webkit-user-select: none;
}

/* line 34, ../sass/_standards.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 39, ../sass/_standards.scss */
h3 {
  font-size: 18px;
  color: white;
  font-family: "Gibson-SemiBold";
}

/* line 45, ../sass/_standards.scss */
h4 {
  font-size: 12px;
  color: white;
  font-family: "Gibson-light";
}

/* line 9, ../sass/recipe-screen.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/recipe-screen.scss */
img {
  -webkit-user-drag: none;
}

/* line 18, ../sass/recipe-screen.scss */
.recipe-area {
  position: absolute;
  top: 180px;
  left: 230px;
  width: 820px;
  height: 550px;
}
/* line 25, ../sass/recipe-screen.scss */
.recipe-area .header {
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
}
/* line 30, ../sass/recipe-screen.scss */
.recipe-area .header .top {
  border-bottom: 3px solid white;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
/* line 36, ../sass/recipe-screen.scss */
.recipe-area .header .top p {
  float: left;
  font-size: 20px;
  color: white;
  font-family: "Gibson-SemiBold";
}
/* line 43, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area {
  float: right;
}
/* line 46, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area .star {
  float: left;
  width: 20px;
  height: 20px;
  background-image: url(../images/star_open_btn.svg);
  margin-right: 10px;
}
/* line 53, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area .star.active {
  background-image: url(../images/star_filled_btn.svg);
}
/* line 58, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area .back {
  float: left;
  width: 30px;
  height: 20px;
  background-image: url(../images/back_btn.svg);
}
/* line 68, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .left {
  float: left;
}
/* line 71, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .left p {
  font-size: 18px;
  color: white;
  font-family: "Gibson-light";
  margin-bottom: 8px;
}
/* line 80, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .right {
  float: right;
}
/* line 83, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .right .static {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-image: url(../images/recipe_static.svg);
  background-size: 60px 60px;
  opacity: .5;
}
/* line 94, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .right .interactive {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-image: url(../images/recipe_interactive.svg);
  background-size: 60px 60px;
  margin-right: 10px;
}
/* line 107, ../sass/recipe-screen.scss */
.recipe-area .static-recipe {
  display: none;
}
/* line 111, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step {
  float: left;
  width: 150px;
  margin-right: 17px;
}
/* line 116, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .header {
  width: 100%;
  height: 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 4px;
}
/* line 125, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .add {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_add_mixing.svg);
  margin-bottom: 40px;
}
/* line 132, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .add {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_add_mixing.svg);
  margin-bottom: 40px;
}
/* line 140, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .stir {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_stir_mixing.svg);
  margin-bottom: 40px;
}
/* line 148, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .rinse {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_rinse_rocks.svg);
  margin-bottom: 40px;
}
/* line 156, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .strain {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_strain_rocks.svg);
  margin-bottom: 40px;
}
/* line 164, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .garnish {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_add_rocks.svg);
  margin-bottom: 40px;
}
/* line 172, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step p {
  font-size: 12px;
  color: white;
  font-family: "Gibson-light";
  margin-bottom: 5px;
}
/* line 179, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .left {
  width: 65px;
  height: 65px;
  float: left;
  margin-right: 20px;
}
/* line 185, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .left p {
  text-align: right;
}
/* line 191, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .right {
  width: 65px;
  height: 65px;
  float: left;
}
/* line 196, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .right p {
  text-align: left;
}
/* line 201, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 70px;
  background-color: white;
}
/* line 210, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step:last-child {
  margin-right: 0px;
}
/* line 217, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe #next {
  position: absolute;
  top: 410px;
  left: 780px;
}
/* line 228, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle, .recipe-area .interactive-recipe .left-circle-fill {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid white;
  top: 350px;
  left: 100px;
}
/* line 238, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle-fill {
  background-color: white;
}
/* line 241, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle-fill .glass-icon {
  margin-left: 80px;
  margin-top: 35px;
}
/* line 245, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle-fill h3 {
  color: black;
  width: 150px;
  text-align: center;
  margin-top: 15px;
  margin-left: 25px;
}
/* line 256, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add .add-leader {
  position: absolute;
  left: 200px;
  top: 150px;
  width: 4px;
  height: 300px;
  background-color: white;
}
/* line 265, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add .left {
  position: absolute;
  top: 150px;
  left: 58px;
  width: 130px;
  height: 100px;
  text-align: right;
}
/* line 274, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add .right {
  position: absolute;
  top: 150px;
  left: 215px;
  width: 130px;
  height: 100px;
}
/* line 282, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add p {
  font-size: 18px;
  color: white;
  font-family: "Gibson-light";
  margin-bottom: 5px;
}
/* line 290, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content {
  position: absolute;
  top: 160px;
  left: 270px;
  width: 385px;
  height: 210px;
}
/* line 297, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-leader {
  float: left;
  margin-top: 112px;
}
/* line 302, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container {
  margin-left: 105px;
}
/* line 305, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container .header {
  padding-top: 2px;
  width: 280px;
  height: 22px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 2px;
}
/* line 314, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container h4 {
  margin-bottom: 2px;
}
/* line 318, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container .gif {
  width: 280px;
  height: 172px;
  background-color: white;
}
/* line 322, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container .gif img {
  width: 100%;
  height: 100%;
}
/* line 333, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle, .recipe-area .interactive-recipe .right-circle-fill {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 2px solid white;
  top: 360px;
  left: 550px;
}
/* line 343, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle-fill {
  background-color: white;
}
/* line 346, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle-fill .glass-icon {
  margin-left: 68px;
  margin-top: 18px;
}
/* line 350, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle-fill h3 {
  color: black;
  width: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 21px;
}
/* line 360, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content {
  position: absolute;
  top: 125px;
  left: 670px;
  width: 385px;
  height: 210px;
}
/* line 367, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-leader {
  float: left;
  margin-top: 112px;
}
/* line 372, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container {
  margin-left: 90px;
}
/* line 375, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container .header {
  padding-top: 2px;
  width: 280px;
  height: 22px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 2px;
}
/* line 384, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container h4 {
  margin-bottom: 2px;
}
/* line 388, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container .gif {
  width: 280px;
  height: 172px;
  background-color: white;
}
/* line 392, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container .gif img {
  width: 100%;
  height: 100%;
}
/* line 404, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .lr-arrow {
  position: absolute;
  top: 450px;
  left: 380px;
}
/* line 410, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content {
  position: absolute;
  top: 100px;
  left: 280px;
  width: 280px;
  height: 210px;
}
/* line 421, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container .header {
  padding-top: 2px;
  width: 280px;
  height: 22px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 2px;
}
/* line 430, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container h4 {
  margin-bottom: 2px;
}
/* line 434, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container .gif {
  width: 280px;
  height: 172px;
  background-color: white;
}
/* line 438, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container .gif img {
  width: 100%;
  height: 100%;
}
/* line 454, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-two {
  display: none;
}
/* line 460, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-three {
  display: none;
}
/* line 464, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-four {
  display: none;
}
/* line 468, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-five {
  display: none;
}
/* line 472, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-six {
  display: none;
}
/* line 476, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-seven {
  display: none;
}
/* line 480, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-eight {
  display: none;
}
