/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../sass/_standards.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_standards.scss */
body, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 18, ../sass/_standards.scss */
body {
  color: white;
  font-family: "Gibson-SemiBold";
  background-color: black;
  width: 1280px;
  height: 800px;
}

/* line 27, ../sass/_standards.scss */
body {
  -webkit-user-select: none;
}

/* line 30, ../sass/_standards.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 35, ../sass/_standards.scss */
h3 {
  font-size: 18px;
  color: white;
  font-family: "Gibson-SemiBold";
}

/* line 41, ../sass/_standards.scss */
h4 {
  font-size: 12px;
  color: white;
  font-family: "Gibson-light";
}

/* line 9, ../sass/recipe-screen.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/recipe-screen.scss */
img {
  -webkit-user-drag: none;
}

/* line 18, ../sass/recipe-screen.scss */
.recipe-area {
  position: absolute;
  top: 180px;
  left: 230px;
  width: 820px;
  height: 550px;
}
/* line 25, ../sass/recipe-screen.scss */
.recipe-area .header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}
/* line 30, ../sass/recipe-screen.scss */
.recipe-area .header .top {
  border-bottom: 3px solid white;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
/* line 36, ../sass/recipe-screen.scss */
.recipe-area .header .top p {
  float: left;
  font-size: 20px;
  color: white;
  font-family: "Gibson-SemiBold";
}
/* line 43, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area {
  float: right;
}
/* line 46, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area .star {
  float: left;
  width: 20px;
  height: 20px;
  background-image: url(../images/star_open_btn.svg);
  margin-right: 10px;
}
/* line 53, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area .star.active {
  background-image: url(../images/star_filled_btn.svg);
}
/* line 58, ../sass/recipe-screen.scss */
.recipe-area .header .top .icon-area .back {
  float: left;
  width: 30px;
  height: 20px;
  background-image: url(../images/back_btn.svg);
}
/* line 68, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .left {
  float: left;
}
/* line 71, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .left p {
  font-size: 18px;
  color: white;
  font-family: "Gibson-light";
  margin-bottom: 4px;
}
/* line 80, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .right {
  float: right;
}
/* line 83, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .right .static {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(../images/recipe_static.svg);
  opacity: .3;
}
/* line 93, ../sass/recipe-screen.scss */
.recipe-area .header .bottom .right .interactive {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(../images/recipe_interactive.svg);
  margin-right: 5px;
}
/* line 105, ../sass/recipe-screen.scss */
.recipe-area .static-recipe {
  display: none;
}
/* line 109, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step {
  float: left;
  width: 150px;
  margin-right: 17px;
}
/* line 114, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .header {
  width: 100%;
  height: 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 4px;
}
/* line 123, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .add {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_add_mixing.svg);
  margin-bottom: 40px;
}
/* line 130, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .add {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_add_mixing.svg);
  margin-bottom: 40px;
}
/* line 138, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .stir {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_stir_mixing.svg);
  margin-bottom: 40px;
}
/* line 146, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .rinse {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_rinse_rocks.svg);
  margin-bottom: 40px;
}
/* line 154, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .strain {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_strain_rocks.svg);
  margin-bottom: 40px;
}
/* line 162, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .garnish {
  width: 150px;
  height: 170px;
  background-image: url(../images/step_add_rocks.svg);
  margin-bottom: 40px;
}
/* line 170, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step p {
  font-size: 9px;
  color: white;
  font-family: "Gibson-light";
  margin-bottom: 5px;
}
/* line 177, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .left {
  width: 65px;
  height: 65px;
  float: left;
  margin-right: 20px;
}
/* line 183, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .left p {
  text-align: right;
}
/* line 189, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .right {
  width: 65px;
  height: 65px;
  float: left;
}
/* line 194, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .right p {
  text-align: left;
}
/* line 199, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step .dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 70px;
  background-color: white;
}
/* line 208, ../sass/recipe-screen.scss */
.recipe-area .static-recipe .step:last-child {
  margin-right: 0px;
}
/* line 215, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe #next {
  position: absolute;
  top: 410px;
  left: 780px;
}
/* line 226, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle, .recipe-area .interactive-recipe .left-circle-fill {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid white;
  top: 350px;
  left: 100px;
}
/* line 236, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle-fill {
  background-color: white;
}
/* line 239, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle-fill .glass-icon {
  margin-left: 80px;
  margin-top: 35px;
}
/* line 243, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-circle-fill h3 {
  color: black;
  width: 150px;
  text-align: center;
  margin-top: 15px;
  margin-left: 25px;
}
/* line 254, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add .add-leader {
  position: absolute;
  left: 200px;
  top: 150px;
  width: 4px;
  height: 300px;
  background-color: white;
}
/* line 263, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add .left {
  position: absolute;
  top: 150px;
  left: 58px;
  width: 130px;
  height: 100px;
  text-align: right;
}
/* line 272, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add .right {
  position: absolute;
  top: 150px;
  left: 215px;
  width: 130px;
  height: 100px;
}
/* line 280, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-add p {
  font-size: 18px;
  color: white;
  font-family: "Gibson-light";
  margin-bottom: 5px;
}
/* line 288, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content {
  position: absolute;
  top: 160px;
  left: 270px;
  width: 385px;
  height: 210px;
}
/* line 295, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-leader {
  float: left;
  margin-top: 112px;
}
/* line 300, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container {
  margin-left: 105px;
}
/* line 303, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container .header {
  padding-top: 2px;
  width: 280px;
  height: 22px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 2px;
}
/* line 312, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container h4 {
  margin-bottom: 2px;
}
/* line 316, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container .gif {
  width: 280px;
  height: 172px;
  background-color: white;
}
/* line 320, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .left-content .left-gif-container .gif img {
  width: 100%;
  height: 100%;
}
/* line 331, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle, .recipe-area .interactive-recipe .right-circle-fill {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 2px solid white;
  top: 360px;
  left: 550px;
}
/* line 341, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle-fill {
  background-color: white;
}
/* line 344, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle-fill .glass-icon {
  margin-left: 70px;
  margin-top: 30px;
}
/* line 348, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-circle-fill h3 {
  color: black;
  width: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 25px;
}
/* line 358, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content {
  position: absolute;
  top: 125px;
  left: 670px;
  width: 385px;
  height: 210px;
}
/* line 365, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-leader {
  float: left;
  margin-top: 112px;
}
/* line 370, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container {
  margin-left: 90px;
}
/* line 373, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container .header {
  padding-top: 2px;
  width: 280px;
  height: 22px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 2px;
}
/* line 382, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container h4 {
  margin-bottom: 2px;
}
/* line 386, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container .gif {
  width: 280px;
  height: 172px;
  background-color: white;
}
/* line 390, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .right-content .right-gif-container .gif img {
  width: 100%;
  height: 100%;
}
/* line 402, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .lr-arrow {
  position: absolute;
  top: 450px;
  left: 380px;
}
/* line 408, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content {
  position: absolute;
  top: 100px;
  left: 280px;
  width: 280px;
  height: 210px;
}
/* line 419, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container .header {
  padding-top: 2px;
  width: 280px;
  height: 22px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 2px;
}
/* line 428, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container h4 {
  margin-bottom: 2px;
}
/* line 432, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container .gif {
  width: 280px;
  height: 172px;
  background-color: white;
}
/* line 436, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .center-content .center-gif-container .gif img {
  width: 100%;
  height: 100%;
}
/* line 452, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-two {
  display: none;
}
/* line 458, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-three {
  display: none;
}
/* line 462, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-four {
  display: none;
}
/* line 466, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-five {
  display: none;
}
/* line 470, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-six {
  display: none;
}
/* line 474, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-seven {
  display: none;
}
/* line 478, ../sass/recipe-screen.scss */
.recipe-area .interactive-recipe .step-eight {
  display: none;
}
